:root {
    --background-color: #fff;
    --foreground-color: #333;
    --signature-color: #666;
    --category-color: #aaa;
    --date-color: #aaa;
    --header-background-color: hsl(151,44.7%,50%);
    --header-foreground-color: #fff;
    --code-background-color: #f6f6f6;
    --code-foreground-color: #444;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Noto Sans SC';
    background-color: var(--background-color);
    color: var(--foreground-color);
}

header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    padding: 30px;
}
header h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 10px;
}
header p {
    font-size: 20px;
}
.content {
    padding: 30px;
    max-width: 1000px;
    line-height: 22px;
}
.content img {
    max-width: 100%;
}
.posts li {
    margin-bottom: 10px;
}

#title {
    font-size: 16px;
    color: hsl(151,44.7%,50%);
    text-decoration: none;
}
#title:hover, #title:active {
    font-size: 16px;
    color: hsl(151,44.7%,40%);
    text-decoration: none;
}
#category {
    font-size: 15px;
    font-weight: bold;
    color:var(--category-color);
}
.date {
    font-size: 15px;
    color: var(--date-color);
    text-decoration: none;
}

code {
    color: var(--code-foreground-color);
    background-color: var(--code-background-color);
}
pre code {
    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
}
blockquote {
    font-size: 16px;
    margin-top: 1.2em;
    margin-right: 0px;
    margin-bottom: 1.2em;
    margin-left: 0px;
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}

.post h2 {
    margin-bottom: 10px;
}

img.float-right {
    margin: 0 1em .5em 1em;
    float: right;
}
@media (max-width: 500px) {
    img.float-right {
      float: none;
      display: block;
      margin: 1em auto;
    }
}

p.signature {
    margin-top: 60px;
    color: var(--signature-color);
}
  