<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Lenox&nbsp;Xian</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans SC:300,400,700" type="text/css">
  <link rel="stylesheet" href="/static/app.css" type="text/css">
  <link rel="stylesheet" href="/static/syntax.css" type="text/css">
</head>

<body>
  <header>
    <h1>Lenox&nbsp;Xian</h1>
    <p>Everything negative-pressure，challenges-is all an opportunity for me to rise</p>
  </header>

  <div class="post_content">
    <h2>{{ page.title }}</h2>
    <p class="date">{{ page.date | date:"%d %B %Y" }}</p>

    {{ content }}

    <p class="signature">&mdash; Lenox&nbsp;Xian</p>
  </div>
  </script>
</body>

</html>